<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
</head>
<body>
    <h2>Titre de la section Portfolio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis neque accusantium, cumque possimus ad placeat optio autem. Labore harum ut laborum veniam, earum nostrum. Culpa dolorem nam quasi mollitia esse.</p>
</body>
</html>