html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
}

*{
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

ul,main{
    max-width: 50rem;
    margin: auto;
}

header,footer {
    background: black;
    color: white;
    padding: 1rem;
}

nav{
    text-align: right;
}

nav ul{
    position: relative;
}

nav li:first-of-type{
    position: absolute;
    left: 0;
}

footer ul{
    position: relative;
}

footer li:last-of-type{
    position: absolute;
    right: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

main{
    padding: 2rem 0;
}