{% extends "layout.html.twig" %}

{% block content %}
<table>
    <tr>
        <th>Id</th>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Adresse</th>
    </tr>
    <tr>
        {% for prop in user %}
            <td>{{ prop }}</td>
        {% endfor %}
    </tr>   
</table>
{% endblock %}
