{% extends "layout.html.twig" %}

{% block title 'Admin article' %}
    
{% block content %}
    <div class="jumbotron">
        <h2>Edition article</h2>
    </div>
    <form method="post" class="col-md-5">
        <div class="form-group">
            <label>Titre</label>
            <input type="text" name="title" class="form-control" value="{{ article.title }}">
            <label for="short">Résumé</label>
            <textarea id="short" name="short_content" class="form-control">{{ article.short_content }}</textarea>
            <label for="article">Article</label>
            <textarea id="article" name="content" class="form-control">{{ article.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('admin_articles') }}" class="btn btn-default">Annuler</a>
    </form>
{% endblock %}
