{% extends "layout.html.twig" %}

{% block title 'Admin article' %}
    
{% block content %}
    <h2>Edition article</h2>
    
    <form method="post">
        <div class="form-group">
            <label>Titre</label>
            <input type="text" name="title" value="{{ article.title }}" class="form-control">
            <label for="short">Résumé</label>
            <textarea id="short" name="short_content" class="col-md-12">{{ article.short_content }}</textarea>
            <label for="article">Article</label>
            <textarea id="article" name="content" class="col-md-12">{{ article.content }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('admin_articles') }}" class="btn btn-default">Annuler</a>
    </form>
{% endblock %}
