*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    text-align: center;
}

header,main,footer{
    max-width: 50rem;
    margin: 2rem auto;
}

header{
    background: lightgray;
    padding: 2rem;
    position: relative;
}

nav li{
    display: inline-block;
}

nav li:first-child{
    position: absolute;
    right: 2rem;
}

nav li:last-child{
    position: absolute;
    left: 2rem;
}

img{
    max-width: 100%;
}

label,textarea,input:not([type="submit"]){
    display: block;
    width: 100%;
}

footer{
    position:fixed;
    bottom: 0;
    left: 0;
    background: lightgray;
    width: 100%;
    max-width: 100%;
}