<figure>
    <img src="img/1.jpg" alt="image1">
    <figcaption><span>Projet 1</span><button>plus de détails</button></figcaption>
</figure>
<figure>
    <img src="img/2.jpg" alt="image2">
    <figcaption><span>Projet 2</span><button>plus de détails</button></figcaption>
</figure>
<figure>
    <img src="img/3.jpg" alt="image3">
    <figcaption><span>Projet 3</span><button>plus de détails</button></figcaption>
</figure>
<figure>
    <img src="img/4.jpg" alt="image4">
    <figcaption><span>Projet 4</span><button>plus de détails</button></figcaption>
</figure>