<h2>A propos</h2>
<img src="img/robert.jpg" alt="Photo profil Robert">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia quibusdam doloremque quae fugiat optio sequi perferendis magnam, perspiciatis fuga, nesciunt amet. Voluptate autem distinctio, cum amet dicta, aliquid a blanditiis.</p>
<h3>Mes compétences</h3>
<ul>
    <li><p><span data-percent="25">Html</span></p></li>
    <li><p><span data-percent="50">CSS</span></p></li>
    <li><p><span data-percent="70">Javascript</span></p></li>
</ul>
