/* - Import des CSS externe -- */

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Suez+One');

/* --------------------------- */
/* ----- Initialistation ----- */
html{
    font-size: 62.5%;   
}

body{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    font-family: 'Suez One';
    font-weight: 400;
}

a, header li{
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

header{
    background: #22175b;
    color: white;
    padding: 2rem;
    position: relative;
}

nav{
 /*   display: none;*/
}

ul{
    list-style-type: none;
}

footer{
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #22175b;
    padding: 2rem;
}

/* --------------------------- */

h1 span{
    display: block;
    font-family: 'Roboto',sans-serif;
    font-size: .5em;
}

header > a{
    color: #22175b;
    background: white;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: .2rem solid #22175b ;
    padding-top: .55rem;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

header > a:hover{
    color: white;
    background: #22175b;
    border-color: white;
}

header > a:hover + nav{
    display: block;
}

header li{
    background: rgba(255,255,255,.5);
    padding: 1rem;
    margin-bottom: 1rem;
}

header ul{
        padding-top: 2rem;
}
nav a{
    color: white;
    font-weight: bold;
}

header li:hover{
    background: white;
    color: #22175b;
}

header li:hover a{
    color: #22175b;
}

footer a{
    color: white;
}

footer li:not(:last-child){
    margin-bottom: 1rem;
    display: inline-block;
}