/* - Import des CSS externe -- */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Suez+One');

/* --------------------------- */
/* ----- Initialistation ----- */
html{
    font-size: 62.5%;   
}

body{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto',sans-serif;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1{
    font-family: 'Suez One';
    font-weight: 400;
}

h2{
    font-family: 'Suez One';
    font-weight: 400;
    margin-bottom: 2rem
}

a, header li{
    text-decoration: none;
    -webkit-transition: all .5s;
    transition: all .5s;
}

header{
    background: #22175b;
    color: white;
    padding: 2rem;
    position: relative;
}

nav{
    display: none;
}

ul{
    list-style-type: none;
}

footer{
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #22175b;
    padding: 2rem;
    z-index: 2;
}

main{
    /*padding: 4rem 2rem 10rem 2rem;*/
    max-width: 85rem;
    margin: auto;
}

img{
    max-width: 100%;
}

figure{
    position: relative
}

figure:after{
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    height: 3rem;
}

figcaption{
    font-weight: 700;
    position: absolute;
    bottom: 0;
    padding: 1rem;
    background: white;
    width: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
}

form{
    margin: 2rem auto;
}

iframe{
    width: 100%;
    min-height: 30rem;
    border: none;
}
/* --------------------------- */

h1 span{
    display: block;
    font-family: 'Roboto',sans-serif;
    font-size: .5em;
}

header > a{
    color: #22175b;
    background: white;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: .2rem solid #22175b ;
    padding-top: .55rem;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

header > a:hover{
    color: white;
    background: #22175b;
    border-color: white;
}

header > a:hover + nav{
    display: block;
}

header li{
    background: rgba(255,255,255,.5);
    padding: 1rem;
    margin-bottom: 1rem;
}

header ul{
        padding-top: 2rem;
}
nav a{
    color: white;
    font-weight: bold;
}

header li:hover{
    background: white;
    color: #22175b;
}

header li:hover a{
    color: #22175b;
}

footer a{
    color: white;
}

footer li:not(:last-child){
    margin-bottom: 1rem;
    display: inline-block;
}

figcaption span{
    font-weight: 400;
    display: block;
}

.portfolioPage article{
    position: relative;
    overflow: hidden;
    margin: 2rem auto;
}

.portfolioPage main article a{
    position: absolute;
    color: white;
    background: #22175b;
    padding: .5rem 1rem;
    top: -10%;
    left: 50%;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;
}

.portfolioPage article:hover a{
    top: 30%;
    opacity: 1;
}

textarea,input:not([type="submit"]){
    display: block;
    width: 100%;
    border: none;
    border-bottom: .1rem dotted #22175b;
    padding: 1rem;
    margin-bottom: 2rem;
}

textarea{
    min-height: 15rem;
    resize: none;
    font-family: 'Roboto',sans-serif;
}

form :last-child{
    background: #22175b;
    color: white;
    border: none;
    padding: .5rem;
}

@media screen and (min-width:400px){
    .portfolioPage article{
        display: inline-block;
        width: 49%;
        padding: 0 1rem 0 0;
    }

    /* Selectionner toutes les 2 balises à partir de la 2éme */
    .portfolioPage article:nth-child(2n + 2){
        padding: 0 0 0 1rem;
    }
}

@media screen and (min-width:750px){
    header > a{
        display: none;
    }

    nav{
        display: block;
    }

    nav li{
        display: inline-block;
        text-indent: 0;
    }

        h1,nav{
        text-align: left;
    }

    h1 span{
        display: initial;
    }

}